@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-size: 60px;
    color: white;
    background-color: #383737;
}

header {
    text-align: center;
    width: 100vw;
    height: 100px;
    margin-top: 70px;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
}

.main {
    background-color: #2C2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1130px;
    height: 620px;
    border-radius: 20px;
    text-align: left;
}

.content {
    border: 5px solid #6a27c2;
    width: 530px;
    height: 280px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 1s;
    cursor: pointer;
    font-size: 48px;
}

.content:hover { 
    background: #6a27c2;
}

.marginLeft {
    margin-left: 10px;
}

img {
    width: 540px;
    height: 620px;
    border-radius: 20px;
}

footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hideContent {
    background-color: #6a27c2;
    animation: hideContent 0.5s forwards;
}

.showContent {
    animation: showContent 0.5s forwards;
}

.showContentOne {
    animation: showContentOne 0.5s forwards;
    padding: 0 20px;
    text-align: center;
    height: 532px;
    width: 1090px;
    color: #6a27c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showContentOne p {
    font-size: 36px;
    color: white;
}

.arrow{
    opacity: 0;
    font-size: 0;
    margin: 0;
}

.showArrow {
    animation: showArrow 0.5s forwards;
    margin: 20px 30px;
    transition: color 0.5s;
    cursor: pointer;
}

.showArrow:hover {
    color: #6a27c2;
}

.hideArrow {
    animation: hideArrow 0.5s forwards;
}

.textOne {
    text-align: center;
    font-size: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.textTwo {
    text-align: center;
    font-size: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.textThree {
    text-align: center;
    font-size: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.textFour {
    text-align: center;
    font-size: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.hideText {
    padding: 0 20px;
    text-align: center;
    height: 532px;
    width: 1090px;
    color: #6a27c2;
    animation: hideText 0.5s forwards;
}

.hideText p {
    font-size: 36px;
    color: white;
}

@keyframes showArrow {
    from {opacity: 0; font-size: 0;}
    to {opacity: 1; font-size: 48px}
}

@keyframes hideArrow {
    from {opacity: 1; font-size: 48px;}
    to {opacity: 0; font-size: 0;}
}

@keyframes hideText {
    from {opacity: 1; font-size: 48px;}
    to {opacity: 0; font-size: 0;}
}

@keyframes showContentOne {
    from {opacity: 0;  font-size: 0;}
    to {opacity: 1;  font-size: 48px; }
}

@keyframes hideContent {
    from {opacity: 1; height: 280px; font-size: 48px;}
    99% {border: 5px solid #6a27c2;}
    to {opacity: 0; height: 0; font-size: 0; border: 0}
}

@keyframes showContent {
    from {opacity: 0; height: 0; font-size: 0;}
    1% {border: 5px solid #6a27c2;}
    to {opacity: 1; height: 280px; font-size: 48px;}
}

@media (max-width: 1850px) {

    section {
        flex-direction: column;
    }

    .main {
        margin-top: 50px;
    }

}

@media (max-width: 1130px) {

    .main {
        width: 98%;
        border-radius: 0;
        padding: 1%;
    }

    .marginLeft {
        margin-left: 0;
    }

}

@media (max-width: 900px) {

    .main {
        height: 900px;
    }

}

@media (max-width: 540px) {

    img {
        width: 400px;
        height: 500px
    }

    .main {
        height: 1100px;
    }

    .hideText p {
        font-size: 24px;
    }

    .showContentOne p {
        font-size: 24px;
    }

    @keyframes hideText {
        from {opacity: 1; font-size: 36px;}
        to {opacity: 0; font-size: 0;}
    }
    
    @keyframes showContentOne {
        from {opacity: 0;  font-size: 0;}
        to {opacity: 1;  font-size: 36px; }
    }
    
}